.mantine-TextInput-input,
.mantine-PasswordInput-input {
  background-color: #fafafa;
}

@media (max-width: $mantine-breakpoint-xs) {
  .mantine-PasswordInput-input,
  .mantine-TextInput-input {
    background-color: var(--mantine-color-white);
  }

  .mantine-Paper-root {
    border: none;
    box-shadow: none;
  }
}



@font-face {
  font-family: 'Satoshi';
  src: url('./fonts/Satoshi.woff2') format('woff2'), url('./fonts/Satoshi.woff') format('woff'),
    url('./fonts/Satoshi.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi-Italic';
  src: url('./fonts/Satoshi-Italic.woff') format('woff2'),
    url('./fonts/Satoshi-Italic.woff') format('woff'),
    url('./fonts/Satoshi-Italic.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}
/** Satoshi by Deni Anggara © 2024 Indian Type Foundry - https://www.fontshare.com/fonts/satoshi */